.container, .aside, .main {
  height: 100%;
}
.header {
  position: fixed;
  z-index: 888;
  width: 100%;
}
.aside{
  position: fixed;
  z-index: 666;
  overflow-x: hidden;
  overflow-y: auto;
}
.main{
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background: rgb(234, 238, 243);
}