// logo
.logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  img {
    height: 40px;
    vertical-align: middle;
  }
}

// 模块列表
.list{
  margin-left: 200px;
  color: #fff;
  .item-wrap{
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
    .item {
      display: inline-block;
      margin-left: 5px;
      font-size: 14px;
      cursor: pointer;
      .small{
        font-size: 13px;
      }
    }
    .border-right{
      padding-right: 5px;
      border-right: 1px solid #fff;
    }
  }
  
}
