.t-navigationBar-wrap {
    .logo{
        height: 40px;
        vertical-align: middle;
    }
    .avatar{
        height: 35px;
        width: 35px;
        vertical-align: middle;
        border-radius: 50%;
    }
    .badge{
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .t-item{
        margin-left: 10px;
        cursor: pointer;
    }
}
  