// ===============  基类  ===================
html,
body {
  width: 100%;
  height: 100%;
}

// ================  辅助类  =====================
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
}

// ================  组件类  =====================

// 登录
.login-wrap {
  .el-input__inner {
    background: none;
    border-radius: 0;
    border: 1px solid #8fa4b9;
    color: #fff;
    outline: none;
    &::-webkit-input-placeholder {
      color: #fff;
    }
  }
  .el-button {
    border-radius: 0;
  }
}

// 模态框
.el-popup-parent--hidden {
  overflow-y: hidden;
}
