// 框架宽高
@navigationBar-height: 60px;     // 顶部导航条高度
@menu-width: 200px;     // 左侧菜单宽度

// 配色
.theme-green{
    @color: rgba(69, 179, 191, 1);    // 主题颜色
    @color-active: rgba(58, 150, 160, 0.5);   // 主题颜色 hover/active 效果
    @color-title: rgba(58, 150, 160, 1);     // 左边菜单的标题颜色

    .theme-mix();
}

.theme-mix(){
    // 顶部导航条
    .navigationBar-theme{
        .logo, .item-wrap .item, 
        .el-tabs__item, .el-tabs__nav-next, .el-tabs__nav-prev{
            height: @navigationBar-height;
            line-height: @navigationBar-height;
        }
        background-color: @color;
        .el-tabs__item{
            background-color: @color;
            &:hover,&.is-active{
                background-color: @color-active;
            }
        }
    }



    // 左侧菜单
    .menu-aside-theme{
        background-color: @color;
    }
    .menu-theme{
        .menu-list:not(.el-menu--collapse) {
            width: @menu-width;
        }
        .el-menu{
            background-color: @color;
        }
        .el-submenu__title:hover, .el-menu-item:focus, .el-menu-item:hover, .el-menu-item.is-active {
            background-color: @color-active;
        }
        .menu-title{
            background-color: @color-title;
        }
    }



    // 路由切换tab
    .router-tabs-theme{
        top: @navigationBar-height;
        left: @menu-width;
        .el-tabs__header .el-tabs__item{
            &.is-active,&:not(.is-disabled):hover{
                color: @color;
            }
        }
    }
}